---
layout: cover
---

      <div class="row content">
        <div class="col-sm-6">
          <section>
            <h2 class="category">Who am I?</h2>
            <p>I'm an Open Source developer interested in</p>
            <h2 class="category">
              <small>
                #People, #Digital, #OpenKnowledge, #OpenSource, #OpenData,
                #Sustainable Development
              </small>
            </h2>
            <p>
              I design and build serious solutions and fun things.
            </p>
          </section>
          <br>
          <section>
            <h2 class="category">Latest Posts</h2>
            <ul class="post-list">
              {% for post in paginator.posts %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span>
                  <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h2>
                  {% if post.intro %}<p class="text-muted">{{ post.intro }}</p>{% endif %}
                </li>
              {% endfor %}
            </ul>
          </section>
          <hr>
          <br>
          <nav class="nav">
            <ul class="nav">
              <li>
                <a href="https://twitter.com/c_mouchet"
                    target="_blank"
                    title="Find me on Twitter @c_mouchet"
                    data-toggle="tooltip"
                    data-placement="bottom">
                  <span class="octicon octicon-comment-discussion"></span>
                  Twitter
                </a>
              </li>
              <li>
                <a href="http://www.feedly.com/home#subscription/feed/{{ "/feed.xml" | prepend: site.url }}"
                    target="_blank"
                    title="News delivered to your feedly"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-feedid="feed/{{ "/feed.xml" | prepend: site.url }}"
                    data-uri="subscription/feed/{{ "/feed.xml" | prepend: site.url }}">
                  <span class="octicon octicon-cloud-upload"></span>
                  Feedly
                </a>
              </li>
              <li>
                <a href="https://github.com/clementmouchet"
                    target="_blank"
                    title="Open Source Contributions"
                    data-toggle="tooltip"
                    data-placement="bottom">
                  <span class="octicon octicon-mark-github"></span>
                  Github
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/clementmouchet"
                    target="_blank"
                    title="Online CV & References"
                    data-toggle="tooltip"
                    data-placement="bottom">
                  <span class="octicon octicon-mortar-board"></span>
                  LinkedIn
                </a>
              </li>
              <li>
                <a href="{{ "/feed.xml" | prepend: site.url }}"
                    target="_blank"
                    title="Subscripte to the RSS feed"
                    data-toggle="tooltip"
                    data-placement="bottom">
                  <span class="octicon octicon-rss"></span>
                  RSS feed
                </a>
              </li>
              <li>
                <a href="mailto:clement.mouchet@gmail.com"
                    target="_blank"
                    title="Send me an email"
                    data-toggle="tooltip"
                    data-placement="bottom">
                  <span class="octicon octicon-mail"></span>
                  Get in touch
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h2 class="category">Web Design</h2>
          <ul class="nav">
            <li class="project scroll">
              <div class="project-wrapper">
                <div class="project-title">
                  <h4>Undoo.be</h4>
                  <p>Physiotherapist Practice website</p>
                </div>
                <div class="project-detail">
                  <a href="http://undoo.be" target="_blank">
                    Physiotherapist Practice Website, using Graphics by Anais Moïsy
                  </a>
                </div>
              </div>
            </li>
            <li class="project scroll">
              <div class="project-wrapper">
                <div class="project-title">
                  <h4>GosiaWalton.co.uk</h4>
                  <p>Artist Website</p>
                </div>
                <div class="project-detail">
                  <a href="http://gosiawalton.co.uk" target="_blank">
                    Designed the website to showcase some of the artist work of art and world.
                  </a>
                </div>
              </div>
            </li>
            <li class="project scroll">
              <div class="project-wrapper">
                <div class="project-title">
                  <h4>SAAD</h4>
                  <p>Project website</p>
                </div>
                <div class="project-detail">
                  <a href="http://www.saadproject.uk" target="_blank">
                    Collaborated with Anais Moïsy and PhD Hadi Mehrpouya to design the website of the SAAD project.
                  </a>
                </div>
              </div>
            </li>
          </ul>

          <h2 class="category">Open-Source & Contributions</h2>
          <ul class="nav">
            <li class="project scroll">
              <div class="project-wrapper">
                <div class="project-title">
                  <h4>Contributions</h4>
                  <p>Bits & Pieces</p>
                </div>
                <div class="project-detail">
                  <a class="ckickable"
                      href="https://github.com/clementmouchet?tab=repositories"
                      target="_blank">
                    Contributing to the CKAN project<br>
                    Outcomes of hackathons, simple data transformation tools,
                    data, forks of all kinds
                  </a>
                </div>
              </div>
            </li>
            <li class="project scroll">
              <div class="project-wrapper">
                <div class="project-title">
                  <h4>Publications & Awards</h4>
                  <p></p>
                </div>
                <div class="project-detail">
                  <a href="/publications_and_awards" class="clickable">
                    Techniques for Auditing the ICT carbon footprint of an organisation...<br>
                    Road Safety Hackathon Winner...<br>
                    The METERology award for innovation in Green ICT...<br>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
