<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h1 class="masthead-brand">
            {{ site.title }}
          </h1>
          <ul class="nav masthead-nav">
              <li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
            {% for page in site.pages %}
              {% if page.title %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="inner cover">
