/*
 * Globals
 */
/* Links */

a, a:focus, a:hover {
    color: #444;
}
.clickable {
    text-decoration: underline;
    cursor: pointer;
}
/*
 * Base structure
 */

html, body {
    font-family: $base-font-family;
    min-height: 100%;
    font-weight: 400;
    color: #444;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */

    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
/* Padding for spacing */

.inner {
    padding: 15px;
}
/*
 * Header
 */

.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-size: 32px;
    line-height: inherit;
}
.icon-bar {
    color: black;
    border-color: black;
    background-color: black;
}
.navbar-nav> li > a {
    border-bottom: solid 2px transparent;
}
.navbar-nav> li > a:hover {
    background-color: transparent;
    border-bottom: solid 2px #bbb;
}
@include media-query($tablets) {
    .navbar-brand {
        float: left;
    }
    .navbar-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 20px;
}
.content {
    .category {
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 5px;
        color: #c3ced2;
        letter-spacing: 1px;
    }
}
/*
 * Media queries & bootstrap overrides
 */

@include media-query($tablets) {
    .site-wrapper-inner {
        vertical-align: middle;
    }
    .cover-container {
        width: 100%;
    }
}

@include media-query($desktops) {
    .cover-container {
        width: 800px;
    }
}

@include media-query($large-desktops) {
    .container {
        width: 970px;
    }
}
